###> symfony/framework-bundle ###
/.env
/.env.dist
/.env.local
/.env.test
/.env.*.local
/composer.lock
/symfony.lock
/yarn.lock

/var/
/vendor/
/bin/phpunit
/bin/.phpunit

###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/phpunit.dist.xml
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/

/public/build/
/public/bundles/
/public/server.crt

npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
.idea
