body, td, th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}

body {
    background-color: #F1F1F1;
}

.header {
    margin-top: 1rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-align: center;
    margin-bottom: 4rem;
}

.footer p {
    font-size: smaller !important;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 16px;
    line-height: 2.25rem;
}

h2 {
    font-size: 14px;
    line-height: 2.25rem;
}

h3 {
    font-size: 12px;
    padding: 0 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr {
    margin: 10px 0;
}

.dataTables_wrapper {
    padding-top: 10px;
}

button.dt-button {
    margin: 0 5px;
    font-family: inherit;
    font-size: 0.88em;
    line-height: inherit;
}

div.dt-buttons {
    position: relative;
    float: left;
    margin-top: -0.35rem;
}

.error { font-size: 0.9rem }

.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

.merge { margin: 0.5rem }

.banner {
    width: 100%;
    line-height: 3rem;
    text-align: center;
    vertical-align: middle;
    background-color: #537fb7;
    color: white;
    margin-bottom: 2rem;
}
label {
    font-size: 1rem;
}

.dataTables_length { float: left; margin-top: -3px; }

.dataTables_filter { margin-top: -3px; }

.btn {
    border-radius: 0.25rem !important;
    background-color: #007bff;
    padding: 4px 8px;
}

.dt-buttons button {
    margin-right: 15px;
}

.btn-secondary:hover  {
    background-color: #0066ff;
}

.btn-secondary:active {
    background-color: #0040ff;
}

.dataTable td {
    text-align: center;
}