{% extends 'base.html.twig' %}

{% block title %}Volunteer Certs{% endblock %}
{% block link %}
{% endblock %}
{% block stylesheets %}
    <style>
        form {
            width: 80%;
            margin: 0 auto;
        }

        legend {
            width: 80%;
            margin: 1rem auto;
            font-size: 1rem;
        }
    </style>
{% endblock %}
{% block content %}
    <legend>
        <h4>NOTES:</h4>
        <ul>
            <li>Select a CSV file to upload.</li>
            <li>First column must be labeled in row 1 and contain 8 or 9 digit AYSO IDs in rows
                2 and greater.</li>
            <li>Columns 2 and greater are ignored.</li>
        </ul>

    </legend>
    <hr>
    <form method="post" action="{{ url('app_ch') }}" enctype="multipart/form-data" >
        <div class="file-upload">
            <div class="file-select">
                <div class="file-select-button" id="fileName">Choose File</div>
                <div class="file-select-name" id="noFile">No file chosen...</div>
                <input type="file" name="csv_file" id="csv_file">
            </div>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}
{% block javascripts %}
{% endblock %}
