{% extends 'base.html.twig' %}

{% block title %}Volunteer Certs{% endblock %}
{% block link %}
{% endblock %}
{% block stylesheets %}
    <style>
        form {
            width: 80%;
            margin: 0 auto;
        }

        legend {
            width: 80%;
            margin: 1rem auto;
            font-size: 1rem;
        }
    </style>
{% endblock %}
{% block header %}
    <legend>
        <h4 style="font-weight:bold; font-style:italic; text-decoration: underline">NOTES:</h4>
        <ul>
            <li>Input is a comma-separated variable file (CSV) or Excel file (XLS or XLSX).</li>
            <ul>
                <li>Dataset size is limited due to default server settings.</li>
                <li> Recommend dataset size: for desktop: 900 IDs, for mobile: 700 IDs</li>
                <li>First column in the input file must be an 8 or 9 digit integer (eAYSO or BS standard IDs).</li>
                <li>Any text in Column 1 will be ignored.</li>
                <li>Duplicate entries will be ignored</li>
                <li>Entries in columns 2 and greater are ignored.</li>
            </ul>
            <li>Choose a file to upload.</li>
            <li>Click "Submit"</li>
            <li>If you get a "504 Gateway Timeout" Error, reduce your dataset size and try again.</li>
        </ul>
    </legend>
{% endblock %}
{% block content %}
    <form method="post" action="{{ url('app_ch') }}" enctype="multipart/form-data">
        <div class="file-upload">
            <div class="file-select">
                <div class="file-select-button" id="fileName">Choose CSV or Excel File</div>
                <div class="file-select-name" id="noFile">No file chosen...</div>
                <input type="file" name="csv_file" id="csv_file" accept="text/csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            </div>
        </div>

        <div class="mt-3">
            <button type="submit" class="dt-button">Submit</button>
        </div>
    </form>
{% endblock %}
{% block javascripts %}
{% endblock %}
