{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/fh-3.1.7/r-2.2.6/sc-2.0.3/datatables.min.css"/>
{% endblock %}

{% block stylesheets %}
    <style>
        .content {
            width: 90%;
            margin: 5px auto;
            font-size: 0.75rem;
            overflow: auto;
        }

        table {
            border-collapse: collapse;
            padding: 1rem 0;
        }

        th, td {
            border: 1px solid black;
        }

        table.dataTable.no-footer {
            border-bottom: none !important;
        }

        .dt-button {
            float: left;
            margin: 0 10px 0 2px;
            color: #333 !important;
            border: 1px solid #979797;
            background-color: white;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
            background: -webkit-linear-gradient(top, white 0%, lightblue 100%);
            background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
            background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
            background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
            background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
            box-sizing: border-box;
            display: inline-block;
            min-width: 1.5em;
            padding: 0.5em 1em;
            text-align: center;
            text-decoration: none !important;
            cursor: hand;
            border-radius: 2px;
        }

        .dataTable td {
            padding: 0.15rem 0.25rem;
        }

        .dataTables_info {
            float: left;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="content">
        <form method="get" action="/">
            <div class="mt-3">
                <button type="submit" class="btn btn-primary btn-sm">Upload another file</button>
            </div>
        </form>
    </div>
    <br>
    <div class="content">
        {{ table | raw }}
    </div>

    <div class="content">
        <form method="get" action="/">
            <div class="mt-3">
                <button type="submit" class="btn btn-primary btn-sm">Upload another file</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/fh-3.1.7/sc-2.0.3/datatables.min.js">
    </script>

    <script>
        function zeroPad(input) {
            return (input < 10 ? "0" + input : input)
        }

        function getFormattedDate(input) {
            let pattern = /(.*?)-(.*?)-(.*?)$/;

            return input.replace(pattern, function (match, p1, p2, p3) {
                let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                return zeroPad(p2) + " " + months[(p1 - 1)] + " " + p3;
            });

        }

        $(document).ready(function () {
            let now = new Date();

            $('#vol_certs').DataTable({
                dom: 'Blfrtip',
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                buttons: [
                    {
                        extend: 'csv',
                        filename: 'Volunteer_Certs_' + document.title + '.' + now.getFullYear() + (('0' + (now.getMonth()+1)).slice(-2)) + (('0' + now.getDate()).slice(-2))
                    },
                    {
                        extend: 'excel',
                        filename: 'Volunteer_Certs_' + document.title + '.' + now.getFullYear() + (('0' + (now.getMonth()+1)).slice(-2)) + (('0' + now.getDate()).slice(-2))
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'A4',
                        filename: 'Volunteer_Certs_' + document.title + '.' + now.getFullYear() + (('0' + (now.getMonth()+1)).slice(-2)) + (('0' + now.getDate()).slice(-2)),
                        customize: function (doc) {
                            //Remove the title created by datatTables
                            doc.content.splice(0, 1);
                            doc.pageMargins = [5, 20, 5, 40];
                            //Create a date string that we use in the footer. Format is dd-mm-yyyy
                            let jsDate = (now.getMonth() + 1) + '-' + now.getDate() + '-' + now.getFullYear();
                            let h = now.getHours();
                            let m = now.getMinutes();
                            let jsTime = zeroPad(h) + ':' + zeroPad(m);
                            let dmyDateTime = getFormattedDate(jsDate) + ' at ' + jsTime + ' Pacific Time';
                            // let dmyDateTime = moment().format('LT');
                            doc['footer'] = (function (page, pages) {
                                return {
                                    columns: [
                                        {
                                            alignment: 'left',
                                            text: ['Created on: ', {text: dmyDateTime}]
                                        },
                                        {
                                            alignment: 'right',
                                            text: ['page ', {text: page.toString()}, ' of ', {text: pages.toString()}]
                                        }
                                    ],
                                    margin: 20
                                }
                            });

                        }
                    }
                ],
            });
        });
    </script>
{% endblock %}
