{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
{% endblock %}
{% block stylesheets %}
    <style>
        .content {
            width: 90%;
            margin: 5px auto;
            font-size: 0.75rem;
            overflow: auto;
        }

        table {
            border-collapse: collapse;
            padding: 1rem 0;
        }

        th, td {
            border: 1px solid black;
        }

        table.dataTable.no-footer {
            border-bottom: none !important;
        }

        .dt-button {
            float: left;
            margin: 0 10px 0 2px;
            color: #333 !important;
            border: 1px solid #979797;
            background-color: white;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
            background: -webkit-linear-gradient(top, white 0%, lightblue 100%);
            background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
            background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
            background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
            background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
            box-sizing: border-box;
            display: inline-block;
            min-width: 1.5em;
            padding: 0.5em 1em;
            text-align: center;
            text-decoration: none !important;
            cursor: hand;
            border-radius: 2px;
        }

        .dataTables_length {
            padding-left: 2rem;
        }

        .dataTables_length label {
            margin: .25rem;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="content">
        {{ table | raw }}
    </div>

    <div class="content">
        <form method="get" action="{{ url('app_file_form') }}">
            <div class="mt-3">
                <button type="submit" class="dt-button">Upload file</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

    <script>
        function zeroPad(input) {
            return (input<10?"0"+input:input)
        }

        function getFormattedDate(input) {
            let pattern = /(.*?)-(.*?)-(.*?)$/;
            let result = input.replace(pattern,function(match,p1,p2,p3){
                let months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
                return zeroPad(p2) + " " + months[(p1-1)] + " " + p3;
            });

            return result;

        }

        $(document).ready(function () {

            $('#vol_certs').DataTable({
                dom: 'Blfrtip',
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                buttons: [
                    'csv', 'excel',
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'legal',
                        filename: 'VolunteerCerts',
                        customize: function (doc) {
                            //Remove the title created by datatTables
                            doc.content.splice(0, 1);
                            doc.pageMargins = [5,20,5,40];
                            //Create a date string that we use in the footer. Format is dd-mm-yyyy
                            let now = new Date();
                            let jsDate = (now.getMonth() + 1) + '-' + now.getDate() + '-' + now.getFullYear();
                            h = now.getHours();
                            m = now.getMinutes();
                            let jsTime = zeroPad(h) + ':' + zeroPad(m);
                            let dmyDateTime = getFormattedDate(jsDate) + ' ' + jsTime;
                            doc['footer'] = (function (page, pages) {
                                return {
                                    columns: [
                                        {
                                            alignment: 'left',
                                            text: ['Created on: ', {text: dmyDateTime}]
                                        },
                                        {
                                            alignment: 'right',
                                            text: ['page ', {text: page.toString()}, ' of ', {text: pages.toString()}]
                                        }
                                    ],
                                    margin: 20
                                }
                            });

                        }
                    }
                ],
            });
        });
    </script>
{% endblock %}
